@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.codehilite {
  width: 100%;
  margin-left: 0;
  color: #eeffff;
  background-color: #252525;
  border: 3px solid #252525;
  border-radius: 5px;
  text-align: left;
  padding: 0 5px;
  word-wrap: break-word;
}
.codehilite:hover {
  overflow: visible;
}
.container {
  width: 60%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  height: 100%;
}
.stripe {
  display: block;
  max-width: 128px;
  height: 10px;
  border-radius: 1px;
  background-color: #368af8;
}
.stripe.long {
  max-width: 100%;
  width: 100%;
  height: 3px;
}
a {
  color: #368af8;
}
a:visited {
  color: #368af8;
}
.article-title {
  font-size: medium;
  font-weight: bold;
}
a.link {
  padding: 0 20px 0 0;
  text-align: center;
}
.topnav {
  cursor: pointer;
  width: 99%;
  text-align: left;
  color: white;
  overflow: hidden;
  position: relative;
}
.topnav a.icon {
  padding: 10px 15px;
  opacity: 0.7;
}
.topnav a {
  float: left;
  color: white;
  opacity: 0.5;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}
.topnav a.link {
  float: right;
}
.topnav a:hover {
  opacity: 1;
  transition: 0.3s;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .topnav a {
    font-size: 14px;
  }
  .codehilite {
    width: max-content;
  }
  code {
    width: 100%;
  }
}
footer {
  padding: 10px 10px;
}
