<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    {% include "header.html" %}
    <h1>404 - Not Found</h1>
    <p>The requested url ({{path}}) was not found</p>
    <a href="//www.dmca.com/Protection/Status.aspx?ID=9ad97a3c-c38f-4611-a3d6-a08c6c3496f3"
        title="DMCA.com Protection Status" class="dmca-badge"> <img
            src="https://images.dmca.com/Badges/dmca_protected_sml_120w.png?ID=9ad97a3c-c38f-4611-a3d6-a08c6c3496f3"
            alt="DMCA.com Protection Status" /></a>
    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</body>

</html>