<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callum's Notes - Home</title>
    <meta name="theme-color" content="#368AF8">
    <link rel="stylesheet" href="/public/css/style.css">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://notes.cxllm.xyz/">
    <meta property="og:title" content="Callum's Notes - Home">
    <meta property="og:description" content="The homepage of my notes page">
</head>

<body>
    {% include "header.html" %}

    <div class="container">
        <h1 style="text-align: center;">Callum's Notes</h1>
        <p style="text-align: center;">Welcome to my notes page where I will post numerous things such as guides or
            ideas. This is written with a combination of Python, HTML/CSS/JavaScript and Markdown</p>
        <br>
        <h2>Articles</h2>
        {% for article in articles %}
        <div class="article">
            <p class="article-title">
                <a href="{{article['endpoint']}}">{{article["title"]}}</a> - {{article["published"]}}
            </p>
            <p><i>{{ article["description"] }}</i></p>
        </div>
        {% endfor %}
    </div>
</body>

</html>